<div id="container">			
	<div id="content">
		<h1>Sign Up</h1>
		<div id="login" class="gradient2">
			<% if notice %>
					<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>			
			<%= render 'formNew' %>
		</div> <!-- end div#center -->
		<div class= "footer">
			<%=render :partial => 'layouts/footer'%>
		</div>
	</div> <!-- end div#content -->
</div> <!-- end div#container -->
