<div id="container">	
	<div id="content">
		<h1>Editing Mailing List Entry</h1>
		<div id="MainText" class="gradient2">
			<div id="addContainer">
				<%= render 'form' %>
			</div>
		</div>
				<div class= "footer">
					<%=render :partial => 'layouts/footer'%>
				</div>
	</div>
</div>

