<body>
	
	<div id="container">			
		<div id="content">
			<h1>About</h1>
			<div id="AboutText" class="gradient2">
				<b>Terms of Participation:</b></br>
				<ul>
					“Terms” and “Terms of Participation” shall be used to interchangeably.  GoLumber.com (henceforth referred to as “we”) does not guarantee or warrantee any of the products presented on this site.  We do not verify the accuracy or quality any of the products or companies or participants presented on this site.   This site is meant to serve as a vehicle to present the wholesale forest products community with the available inventories, and is not meant to endorse any product, or supplier, or endorse or verify the quality of any product or supplier or to verify the suitableness and viability of any products posted on GoLumber.  We encourage all Users (the “User” is one who uses and/or accesses the GoLumber.com) to conduct their own due diligence before buying or selling any product.  We simply facilitate the platform for the introduction, and here encourage the User to be extremely careful in all purchases or sales.  We encourage buyers to know their producers and their quality, and to inspect shipments prior to shipment.  Sellers should fully know their buyers and to verify their credit worthiness using the most stringent means possible.   Any risk of defaulted sale or non-payment is entirely that of the Seller/User.  The User acknowledges and agrees that the GoLumbers.com is not a part of the actual sale or of purchase of forest products listed on this site and therefore carries no liability in this regards.  The User realizes that all sales or purchases resulting from the introduction on this site are entirely the risk of the User.
					</br></br>
					The User holds the GoLumber.com completely harmless with regards to error or misinformation, misfunctions or incorrect or lost or stolen information with regards to any information which has been entered by the User on the GoLumber.com and fully accepts all responsibility in their purchasing decisions.  The User realizes that GoLumber.com does not monitor, test or verify any of the products presented on the GoLumber.com.   The User holds GoLumber.com free or culpability from misrepresentation of any products.  GoLumber has the right to access for marketing purposes the information on this site with the exception of confidential information (no access is permitted with regards to User customer email lists) as specified under Privacy rules.  All risk regarding any transaction is exclusively that of the User.    The User realizes that at times, this site may undergo maintenance and/or reconstruction and/or be shut down for whatever reason, and will not hold GoLumber culpable for times such as these.
					</br></br>
					The User agrees to be truthful in all representations and claims of the products listed.  The User realizes that the GoLumber.com does not qualify buyers or sellers, and the User understands that all parties must beware and take full responsibility with regards to buying or selling decisions; and the User understands that the GoLumber.com is a platform to disseminate information, which may or may not be accurate. 
					</br></br>
					Users agree to post products which they own and have already produced or about to become ready to ship within 30 days.  Products must only be listed under one Supplier name and shall not be listed under other company/user names.  Products must be updated at the very minimum every 14 days to be actively posted on the GoLumber Search.  GoLumber.com may make any changes in the site or to this document by its own discretion and encourages the User to often check the terms and condition of this site.
					</br></br>
					The User understands that he/she is a guest of GoLumber.com, and that GoLumber.com has the right to revoke the privilege of using this site to anyone and for whatever reason, and at its sole discretion and may amend or change these Terms of Participation.   Access to GoLumber may be terminated immediately without notice for any reason.  The User agrees to comport themselves in a professional manner and will not write of post anything that can be construed as unprofessional.  Acts of unprofessionalism are not limited to lewd pictures, falsehoods, use of profanity and other inappropriate behavior.
					</br></br>
					Applicable Law.  The laws of the state of Washington govern this Agreement and all of its terms and conditions, without giving effect to any principles of conflicts of laws or the Convention on Contracts for the International Sale of Goods.
					</br></br>
					Any dispute or grievance with GoLumber.com or its affiliates relating in any way to a breach of these Terms and Participation and conditions of use of the services with GoLumber shall not surpass an aggregate total claim of $50.00.  The User agrees that any adjudication against GoLumber shall take place in Spokane County, Washington, and User consents to exclusive jurisdiction and venue in such courts.  In no event shall GoLumber, its directors, officers, shareholders, sub-contractors, employees or members be liable with respect to the Site or the Services for a) any indirect, incidental, punitive, or consequential damages of any kind whatsoever, b) damages for unauthorized use and distribution of information, non-performance of the Site, errors or omissions, c) damages for loss of use, profits, data, images, Subscriber Content or other intangibles, or d) damages related to downloading or posting Content.
					</br></br>
					The User of this site agrees that there may be changes in terms of this site, and they are encouraged to periodically monitor these changes (“Terms of Participation” will be listed at the very minimum at the Sign In page).  If the User does not understand the specifics of this document, they can contact GoLumber for further clarification.  If the User disagrees or is dissatisfied with the terms of this site, or the Privacy statement, the User will ask via the Contact link that their account be terminated (see “Contact” at the bottom of most pages on GoLumber) and/or the User will cease to use this site.
					</br></br>
					Disputes.  Because GoLumber.com is not the agent of either Sellers or Buyers for any purpose, GoLumber.com will not act as either party's agent in connection with resolving any disputes between participants related to or arising out of any transaction, nor shall they be deemed liable for any misrepresentation by the User of GoLumber, be it either the Buyer or Seller. 
				</ul>
			</div>
			<div id="AboutText" class="gradient2">
				<b>Problem:</b></br>
				<ul>
					The global forest products industry is broad and complex.  Lumber buyers have the difficult task of finding the necessary products from the multitude of lumber suppliers found globally. There are thousands of lumber mills in the United States alone, and their methods of distributing their products have been the same for many years. Currently, sellers are limited to releasing a manually formatted list of their inventory by email and by fax to their current clients.  In addition to the difficulties of sellers reaching a large audience with their inventories, buyers face a challenge in locating the lumber products that they need for the price they want. Furthermore the industry lacks a unanimous standard of measure which raises communication issues between buyers and sellers.  It is therefore necessary to unify these systems of measurement if a globalized system is going to be established to serve the greater market.
				</ul>
			</div>
			<div id="AboutText" class="gradient2">
				<b>Approach:</b></br>
				<ul>
					FTI America is sponsoring the creation of GoLumber, a website that will serve as a sophisticated search engine and lumber community for the forest products industry. Our sponsor hopes to modernize the lumber industry. Lumber sellers will be able to post their current inventories through GoLumber for potential buyers to locate online. Potential buyers will have the ability and to search for specific lumber species and sizes. Users of GoLumber will also have the ability to post and view forest products in both metric and imperial measurement systems.  The sponsor’s goal is for GoLumber to be the place that buyers think of first when they are looking to purchase or sell lumber. This will be achieved by maintaining current aspects of the lumber trade within GoLumber, and utilizing the internet to connect buyers and sellers.
				</ul>
			</div>
			<div id="AboutText" class="gradient2">
				<b>The Team</b></br>
					<ul>Doug Coulson - <i>Gonzaga University CPSC Senior Design 2012-13</i></ul>
					<ul>Chad Gray - <i>Gonzaga University CPSC Senior Design 2012-13</i></ul>
					<ul>Tiernan O'Rourke - <i>Gonzaga University CPSC Senior Design 2012-13</i></ul>
					<ul>Sabrina Topacio - <i>Gonzaga University CPSC Senior Design 2012-13</i></ul>
					<ul>Cal Larson - <i>FTI America</i></ul>
			</div> <!-- end div#center -->
			
			<div class= "footer">
				<%=render :partial => 'layouts/footer'%>
			</div>
		</div> <!-- end div#content -->
		
	</div> <!-- end div#container -->


</body>