<div style="margin: 10px;">
	<hr style="clear:both">
	<%= link_to "FAQ", faq_index_path, :method => "get" %>
	|
	<%= link_to "Privacy", privacy_index_path, :method => "get" %>
	|
	<%= link_to "Terms", terms_path, :method => "get" %>
	|	
	<%= link_to "Contact", contacts_path, :method => "get" %>
</div>